/*
* @version $Id: bandeau_r01_ie6.css 3307 2009-07-23 16:16:10Z crob $
*
* bandeau_r01_ie.css
* Correction de mise en page du bandeau pour affichage dans internet exploreur 6 et 7 
*  
*/

/* === Corrections pour le bandeau ===*/

/* Numéro de version */
#num_version {
	margin-top:-1.5em;
}
/* barre de menu prof */
#essaiMenu {
	margin: -0.3em 0em 0em 0em;
	padding: 0.3em;
}
.pt_bandeau .change_taille_pt img {
	margin-top:0em;
	padding:0.3em;
}
.pt_bandeau  h1 { 
	float:left; 
	margin:-1.4em 0.3em 0em;
	padding:0em 0.3em;
}
.pt_bandeau #bd_nom {	
	float:left; 
	margin: -1.7em 0em 0em 0em;
	padding:0em;
}
.pt_bandeau #premier_menu {
	margin: -1.7em 0em 0em 0em;
}
.pt_bandeau #num_version {
	margin:-2.1em 0em 0em 2.1em;
}
