/*
*
* bandeau_r01_ie.css
* Correction de mise en page du bandeau pour affichage dans internet exploreur 6 et 7 
*  
*/

/* === Corrections pour le bandeau ===*/

/* Numéro de version */
#num_version {
	margin-top:-1em;
	margin-bottom:-0.2em;
}
/* Petit bandeau */
.pt_bandeau  h1 { 
	margin:-1.7em 0em 0em;
}


.pt_bandeau #num_version {
	margin:-1.6em 0em 0em 2.1em;
}
