/* $Id: style_telephone_login.css 3307 2009-07-23 16:16:10Z crob $ */

#ct_public {
	display:none;
}

#Site_ferme {
	color:red;
}

#identification {
	border: 1px solid black; 
}

#div_login_entete {
	background: #4a4a59;
	background-image: url("./images/background/darkfade_small.png");
	background-repeat: repeat-x;
	color: white;
}

#div_login_entete h1 {
	margin:0em;
	font-size: 0.8em;
	font-weight: bold;
	letter-spacing: 0.1em;
}
#div_login_entete p {
	font-size: 0.8em;
	font-weight: bold;
	letter-spacing: 0.1em;
}

.cadenas {
	display:none;
}

