
body {
	background: white;
}

#bandeau {
	display: none;
}

#menu_barre {
	display: none;
}

.noprint {
	display: none;
}

.boireaus td {
	border: 1px solid black;
}

table.boireaus {
	border: 1px solid black;
}

.bull_simpl {
	color: #000000;
	font-size: 8pt;
	font-style: normal;
}
.bull_simpl_g {
	color: #000000;
	font-size: 12pt;
	font-style: normal;
}

