<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tools/setup_new_database.php" colors="true">

    <testsuite name="AllTests">
     <directory>testsuite</directory>
    </testsuite>

    <logging>
        <log type="coverage-html" target="../build/coverage" title="Gepi" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="../build/logs/clover.xml"/>
        <log type="junit" target="../build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>

  <blacklist>
    <directory>.</directory>
  </blacklist>
</phpunit>
