/*
correction_ie.css
Mise en page du bandeau pour affichage en grand dans internet exploreur

@version $Id$

*/

/* ----- Bandeau ----- */
body {
	position: relative;
	}
#bandeau {
	overflow: visible;
	height: 1%;
}
.gd_bandeau #bandeau_gauche p{
	width:100%;
	left: 0.5em;
	bottom: 0.3em;
}

/* ----- see_all.php ----- */
.ct_sa_table1 {
	height: 1%;
}

