/*
portable.css
Mise en page pour portable
*/
body {
	padding: 0;
	margin: 0;
	color: #330033;
	background: #EEEEEE;
}
h1 {
	font-style: normal;
	font-size: 8pt;
	font-weight: bold;
}
h2 {
	margin: 1px;
	font-style: normal;
	font-size: 8pt;
	font-weight:normal;
}
h3 {
	font-style: normal;
	font-size: 8pt;
}
p {
	margin: 0px;
	font-style: normal;
	font-size: 8pt
}
label {
	margin: 0px;
	font-style: normal;
	font-size: 8pt
}
.ct_public, .annee, .no_telephone {
	display:none;
}
#new_login_footer {
	display:none;
}
.portable_gauche {
	text-align: left;
}
#bd_parent, #bandeau_gauche, .menu_bandeau, .menu_general, #essaiMenu , .menu_droit, .bold , .lien_retour , .voir_tout {
	display:none;
}
#bd_nom {
	display:block;
	margin: 0px;
	padding: 0px;
}
.td_Retard {
	background-color: green;
	color: green;
}
.td_Absence {
	background-color: red;
	color: red;
}
.invisible {
	display:none;
}
