/*
* $Id: $
 */

/**
 * CSS de mod_Abs2
 *
 * @author regis
 */
#container {
  width: 99%;
  margin-left:auto;
  margin-right:auto;
}
.onglets {
	margin:0px;
	margin-top: 0.1em;
	padding:0px 0px 0px 0px;
	border-bottom:1px solid #666;
	display:block;
}
.onglets ul {
  margin:0px;
  padding:0px;
}
.onglets li {
  display:inline-block;
  margin:0px;
  padding:0px 0px 0px 0px;
  border-bottom:1px solid #666;
}
.onglets a {
	font-size:small;
	padding:3px 2px 1px 2px;
	margin: 10px 0px 0px 0px ;
	text-decoration:none;
	border:1px solid #666;
	background-color:#efefef;
	color:#777;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright:4px;
	top:1px;
}
.onglets a:hover{
	background-color:#F7F7F7;
	color:#333;
}
.current a {
  padding-bottom: 3px;
  background-color: #dddddd;
  border-bottom: none;
  color:#000;
}
.current a:hover {
  background-color: #dddddd;
  color:#000;
  cursor:default;
}
.contenu {
  min-height: 400px;
  padding-top: 1em;
  background-color: #dddddd;
  border:1px solid #666;
  border-top: none;
}
.contenu form{
  display: block;
  padding: 1em 15% ;
}
p.tableau{
  display: block;
  margin: 0em ;
  padding: 0em ;
}

.contenu p{
  margin: 0em 15% 0em auto;
}
.colonne2 {
	display:table-cell;
	padding:0.5em;
	vertical-align:middle;
	border-width:thin;
	border-style:solid;
	border-color:#d3d3d3; 
  
}
.colonne2:first-child {
	width:10em;
	font-size:medium;
	font-weight:normal;
}
.colonne2 + .colonne2 {
	width:30em;
}
.photopetite{
  max-width:35px;
  max-height:35px;
  vertical-align: middle;
}
