/*
*/
/* ================ fichier conservé pour des soucis de compatibilité avec mod_ent/, mod_absences/, mod_discipline/, mod_serveur/=================== */

@media print{

	#header, #version_gepi, #menu_edt, #agauche {
		display: none;
	}

	span {
		display: none;
	}
}


#menu_edt dl, dt, dd, ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* CSS du menu EdT */
#menu_edt {
	position: absolute;
	top: 100px;
	left: 10px;
	width: 8em;
}
#menu_edt dt {
	/*cursor: pointer;*/
	margin: 10px 0;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	color: grey;
	border: 2px solid gray;
	background: silver;
	padding: 5px;
}
#menu_edt dd {
	border: 1px #6d6d83;
	margin-right: 7px;
}
#menu_edt li {
	text-align: center;
	border: 1px solid grey;
	margin-top: 2px;
	background: #E9E9E9;
}
#menu_edt li:hover {
	border: 1px solid white;
}
#menu_edt li a, #menu_edt dt a {
	color: black;
	text-decoration: none;
	display: block;
	border: 0 none;
	height: 100%;
	background: #E9E9E4;
}
#menu_edt li a:hover, #menu_edt dt a:hover {
	background: silver;
	color: white;
}

#agauche {
	/*background-color: #E9E9E4;*/
	float: left;
	width: 140px;
	height: 1000px;
	font: normal normal 11pt;
}

/* CSS du corps de page EdT */
#lecorps {
	position: relative;
	/*background-color: #E9E9E4;*/
	margin-left: 140px;
	font: normal normal 15pt;
}

fieldset {
	border: 1px solid grey;
}

legend {
	background-color: silver;
	border: 1px solid grey;
	color: white;
	font-weight: bold;
}

label {
	font-size: 1em;
	cursor: pointer;
}

#edt_popup_lecorps {
	background-color: #E9E9E4;
	font: normal normal 15pt;
}

#edt_popup_contain {
	background-color: #E9E9E4;
}

/* Affichage du tableau EdT */
#aff_edt {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 0 0 0 0;
	width: 158px;
	height: 75px;
}

.edt_admin {
	font-size: 8px;
}

table {
	layout: fixed;
}

.tab_edt {
	border: 1px solid black;
	border-collapse: separate;
}

.tab_edt th {
	border: 1px solid black;
	background-color: #6d6d83;
	font: normal normal 11pt;
	color: white;
	height: 35px;
	font-weight: bold;
	text-align: center;
}

.tab_edt td {
	border: 1px solid silver;
	/*border: 1px solid #E9E9E4;*/
	font: normal normal 9pt;
	text-align: center;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	width: 160px;
	height: 35px;
}

.tab_edt_1 {
	border: 0;
	width: 100%;
	font-size: 0.6em;
	padding: 0;
	margin: 0 0 0 0;
	border-spacing: 0;
	text-align: center;
	border-collapse: collapse;
}

.edt_suivant {
	font-size: 11px;
	font-weight: bold;
    padding: 1px;
}

.edt_suivant:hover {
	background-color: lightblue;
	padding: 1px;
}

.edt_suivant a:hover {
	color: black;
}

/* Calendrier edt */
#edt_calendar {
	border: 1px groove rgb(180, 180, 255);
	border-collapse: collapse;
	border-spacing: 1px;
	text-align: center;
	background-color: rgb(200, 200, 255);
}

#edt_calendar td {
	height: 30px;
}

.premiere_ligne td {
	background-color: rgb(200, 200, 200);
	font-size: 11px;
	font-weight: bold;
	color: white;
}

.lignepaire {
	background-color: white;/*rgb(240, 240, 255);*/
}

.ligneimpaire {
	background-color: rgb(230, 230, 230);
}

.bonnelargeur {
	width: 110px;
}

.modif_supr {
	width: 30px;
}

#div_classes_concernees {
	position: absolute;
	width: 400px;
	height: 50px;
	margin-right: 150px;
	margin-left: 400px;
}

#aide_calendar, #aide_initcsv {
	width: 750px;
	padding: 10px;
	background-color: silver;
}

#saisie_new_periode, #modif_periode {
	height: 400px; /* à agrandir pour des établissements avec beaucoup de classes*/
}

#saisie_new_periode label {
	font-size: x-small;
	font-weight: normal;
	font-style: italic;
}

#modif_periode label {
	font-size: x-small;
	font-weight: normal;
	font-style: italic;
}

#div_classes_concernees label {
	font-size: medium;
	font-weight: normal;
	font-style: normal;
}

/* Couleurs des champs de formulaire */
#lecorps .focus {
	background: #E9E9E4;
	color: black;
}
#lecorps .normal {
	background: white;
	color: black;
}

#chercher {
	border: none;
	padding: 0;
	margin: 0;
	width: 35em;
}

#lien a:hover {
	background-color: rgb(200, 200, 255);
}

.legende {
	font-size: xx-small;
	font-weight: normal;
	font-style: italic;
}

.accept {
	font-size: x-small;
	color: green;
}

.refus {
	font-size: x-small;
	color: red;
}

#edt_modif td {
	text-align: center;
	height: 32px;
	width: 250px;
}

#edt_modif td:hover {
	background-color: rgb(200, 200, 255);
}

/* Le tableau des paramètres couleurs des matières */
#edt_table_couleurs {
	border: 1px solid grey;
}

#edt_table_couleurs th {
	background-color: silver;
	color: black;
	font-weight: normal;
	text-align: center;
	width: 200px;
}

#edt_table_couleurs td {
	height: 40px;
	border: 1px solid grey;
}

#edt_table_couleurs td p {
	cursor: pointer;
}

#divCsv2 label {
	float: left;
	width: 30%;
	text-align: right;
	margin: 0;
	padding: 0 .5em 0 0;
	line-height: 1.8;
}
.edt_lien {
	border: 1px solid grey;
	background: #FFFFFF;
	width: 200px;
	text-align: center;
	cursor: pointer;
	margin-left: 100px;
}
div.mode_gr {
border: 2px solid grey; padding: 2 2 2 2;
}
.creneau {
height: 55px; text-align: center; vertical-align: middle; border-right: 1px dotted #99C; position: absolute; margin-top: 5px; border-bottom: 2px solid grey;
}
.creneau_d {
height: 55px; text-align: center; vertical-align: middle; position: absolute; margin-top: 5px; border-bottom: 2px solid grey;
}
.prem {
border-bottom: 2px dotted silver;
}
.creneauB {
height: 55px; text-align: center; vertical-align: middle; border-right: 1px dotted #99C; position: absolute; margin-top: 5px;
}
.creneau_dB {
height: 55px; text-align: center; vertical-align: middle; position: absolute; margin-top: 5px; border: 0px;
}
.affedtcours {
position: absolute; border: 1px solid black; -moz-border-radius: 10px; overflow: hidden; padding: 2px;
}
.abs_appear {
position: absolute; background-color: yellow; border: 1px solid silver;
}


#fenetre{
	margin: 0px 0px 0px 0px;
	width : 1200px;
}

#fenetre .contenu .tableau{
	float:left;
    position:relative;
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 0px 0px;
	width : 99%;
	font-size: 80%;
	color: black;
	text-align: left;


}
#fenetre .contenu .tableau .entete{
    float:left;
	padding: 00px 00px 00px 00px;
	margin: 02px 02px 02px 02px;
    width:150px;
	height : 30px;
	font-size: 100%;
	color: white;
	text-align: center;
	border-right: 1px solid #004A7A;
	border-bottom: 1px solid #004A7A;
	background-image : url(../images/entete.png);
	background-position: top left ;
	background-repeat: no-repeat;
	background-color: #aaaaaa ;

}

#fenetre .contenu .tableau .colonne0{
    float:left;
	padding: 00px 00px 00px 00px;
	margin: 02px 02px 02px 02px;
    width:150px;
	height : 61px;
	font-size: 100%;
	color: black;
	text-align: center;
	border-right: 1px solid #004A7A;
	border-bottom: 1px solid #004A7A;
}

#fenetre .contenu .tableau .colonne1{
    float:left;
	padding: 00px 00px 00px 00px;
	margin: 02px 02px 02px 02px;
    width:150px;
	height : 61px;
	font-size: 100%;
	color: black;
	text-align: center;
	border-right: 1px solid #004A7A;
	border-bottom: 1px solid #004A7A;
}

#fenetre .contenu .tableau .colonne2{
    float:left;
	padding: 00px 00px 00px 00px;
	margin: 02px 02px 02px 02px;
    width:150px;
	height : 121px;
	font-size: 100%;
	color: black;
	text-align: center;
	border-right: 1px solid #004A7A;
	border-bottom: 1px solid #004A7A;
}
#fenetre .contenu .tableau .colonne3{
    float:left;
	padding: 00px 00px 00px 00px;
	margin: 02px 02px 02px 02px;
    width:150px;
	height : 181px;
	font-size: 100%;
	color: black;
	text-align: center;
	border-right: 1px solid #004A7A;
	border-bottom: 1px solid #004A7A;
}
#fenetre .contenu .tableau .colonne4{
    float:left;
	padding: 00px 00px 00px 00px;
	margin: 02px 02px 02px 02px;
    width:150px;
	height : 241px;
	font-size: 100%;
	color: black;
	text-align: center;
	border-right: 1px solid #004A7A;
	border-bottom: 1px solid #004A7A;
}
#fenetre .contenu .tableau .colonne5{
    float:left;
	padding: 00px 00px 00px 00px;
	margin: 02px 02px 02px 02px;
    width:150px;
	height : 301px;
	font-size: 100%;
	color: black;
	text-align: center;
	border-right: 1px solid #004A7A;
	border-bottom: 1px solid #004A7A;
}
#fenetre .contenu .tableau .colonne6{
    float:left;
	padding: 00px 00px 00px 00px;
	margin: 02px 02px 02px 02px;
    width:150px;
	height : 361px;
	font-size: 100%;
	color: black;
	text-align: center;
	border-right: 1px solid #004A7A;
	border-bottom: 1px solid #004A7A;
}
#fenetre .contenu .tableau .colonne7{
    float:left;
	padding: 00px 00px 00px 00px;
	margin: 02px 02px 02px 02px;
    width:150px;
	height : 421px;
	font-size: 100%;
	color: black;
	text-align: center;
	border-right: 1px solid #004A7A;
	border-bottom: 1px solid #004A7A;
}
#fenetre .contenu .tableau .colonne8{
    float:left;
	padding: 00px 00px 00px 00px;
	margin: 02px 02px 02px 02px;
    width:150px;
	height : 481px;
	font-size: 100%;
	color: black;
	text-align: center;
	border-right: 1px solid #004A7A;
	border-bottom: 1px solid #004A7A;
}
#fenetre .contenu .tableau .colonne9{
    float:left;
    position:relative;
	padding: 00px 00px 00px 00px;
	margin: 02px 02px 02px 02px;
    width:150px;
	height : 541px;
	font-size: 100%;
	color: black;
	text-align: center;
	border-right: 1px solid #004A7A;
	border-bottom: 1px solid #004A7A;
}
#fenetre .contenu .tableau .colonne10{
    float:left;
	padding: 00px 00px 00px 00px;
	margin: 02px 02px 02px 02px;
    width:150px;
	height : 601px;
	font-size: 100%;
	color: black;
	text-align: center;
	border-right: 1px solid #004A7A;
	border-bottom: 1px solid #004A7A;

}

#fenetre .contenu .tableau .creneaux1{
    float:left;
	padding: 00px 00px 00px 00px;
	margin: 02px 02px 02px 02px;
    width:50px;
	height : 61px;
	font-size: 100%;
	color: black;
	text-align: center;
	border-right: 1px solid #004A7A;
	border-bottom: 1px solid #004A7A;

}

#fenetre .contenu .tableau .creneaux2{
    float:left;
	padding: 00px 00px 00px 00px;
	margin: 02px 02px 02px 02px;
    width:50px;
	height : 121px;
	font-size: 100%;
	color: black;
	text-align: center;
	border-right: 1px solid #004A7A;
	border-bottom: 1px solid #004A7A;

}

#fenetre .contenu .tableau .creneaux3{
    float:left;
	padding: 00px 00px 00px 00px;
	margin: 02px 02px 02px 02px;
    width:50px;
	height : 181px;
	font-size: 100%;
	color: black;
	text-align: center;
	border-right: 1px solid #004A7A;
	border-bottom: 1px solid #004A7A;

}

#fenetre .contenu .tableau .creneaux4{
    float:left;
	padding: 00px 00px 00px 00px;
	margin: 02px 02px 02px 02px;
    width:50px;
	height : 241px;
	font-size: 100%;
	color: black;
	text-align: center;
	border-right: 1px solid #004A7A;
	border-bottom: 1px solid #004A7A;

}

#fenetre .contenu .tableau .creneaux5{
    float:left;
	padding: 00px 00px 00px 00px;
	margin: 02px 02px 02px 02px;
    width:50px;
	height : 301px;
	font-size: 100%;
	color: black;
	text-align: center;
	border-right: 1px solid #004A7A;
	border-bottom: 1px solid #004A7A;

}

#fenetre .contenu .tableau .creneaux6{
    float:left;
	padding: 00px 00px 00px 00px;
	margin: 02px 02px 02px 02px;
    width:50px;
	height : 361px;
	font-size: 100%;
	color: black;
	text-align: center;
	border-right: 1px solid #004A7A;
	border-bottom: 1px solid #004A7A;

}

#fenetre .contenu .tableau .creneaux7{
    float:left;
	padding: 00px 00px 00px 00px;
	margin: 02px 02px 02px 02px;
    width:50px;
	height : 421px;
	font-size: 100%;
	color: black;
	text-align: center;
	border-right: 1px solid #004A7A;
	border-bottom: 1px solid #004A7A;

}

#fenetre .contenu .tableau .creneaux8{
    float:left;
	padding: 00px 00px 00px 00px;
	margin: 02px 02px 02px 02px;
    width:50px;
	height : 481px;
	font-size: 100%;
	color: black;
	text-align: center;
	border-right: 1px solid #004A7A;
	border-bottom: 1px solid #004A7A;

}

#fenetre .contenu .tableau .creneaux9{
    float:left;
	padding: 00px 00px 00px 00px;
	margin: 02px 02px 02px 02px;
    width:50px;
	height : 541px;
	font-size: 100%;
	color: black;
	text-align: center;
	border-right: 1px solid #004A7A;
	border-bottom: 1px solid #004A7A;

}

#fenetre .contenu .tableau .creneaux10{
    float:left;
	padding: 00px 00px 00px 00px;
	margin: 02px 02px 02px 02px;
    width:50px;
	height : 601px;
	font-size: 100%;
	color: black;
	text-align: center;
	border-right: 1px solid #004A7A;
	border-bottom: 1px solid #004A7A;

}

#fenetre .spacer {
    clear:both;
}

#fenetre .contenu .tableau .cellule1{
    float:left;
	margin: 00px 0px 00px 00px;
    border:0px solid #000000; 
    width:100%;
	height : 30px;
	font-size: 50%;
	color: black;
	text-align: center;
	background-color: #cccccc ;

}

#fenetre .contenu .tableau .cellule2{
    float:left;
	margin: 0px 0px 0px 00px;
    border:0px solid #000000; 
    width:100%;
	height : 60px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
}

#fenetre .contenu .tableau .cellule3{
    float:left;
	margin: 0px 0px 0px 00px;
    border:0px solid #000000; 
    width:100%;
	height : 90px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
}

#fenetre .contenu .tableau .cellule4{
    float:left;
	margin: 0px 0px 0px 00px;
    border:0px solid #000000; 
    width:100%;
	height : 120px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
}

#fenetre .contenu .tableau .cellule5{
    float:left;
	margin: 0px 0px 0px 00px;
    border:0px solid #000000; 
    width:100%;
	height : 150px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
}

#fenetre .contenu .tableau .cellule6{
    float:left;
	margin: 0px 0px 0px 00px;
    border:0px solid #000000; 
    width:100%;
	height : 180px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
}
#fenetre .contenu .tableau .cellule7{
    float:left;
	margin: 0px 0px 0px 00px;
    border:0px solid #000000; 
    width:100%;
	height : 210px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
}
#fenetre .contenu .tableau .cellule8{
    float:left;
	margin: 0px 0px 0px 00px;
    border:0px solid #000000; 
    width:100%;
	height : 240px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
}
#fenetre .contenu .tableau .cellule9{
    float:left;
	margin: 0px 0px 0px 00px;
    border:0px solid #000000; 
    width:100%;
	height : 270px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
}
#fenetre .contenu .tableau .cellule10{
    float:left;
	margin: 0px 0px 0px 00px;
    border:0px solid #000000; 
    width:100%;
	height : 300px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
}
#fenetre .contenu .tableau .cellule11{
    float:left;
	margin: 0px 0px 0px 00px;
    border:0px solid #000000; 
    width:100%;
	height : 330px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
}
#fenetre .contenu .tableau .cellule12{
    float:left;
	margin: 0px 0px 0px 00px;
    border:0px solid #000000; 
    width:100%;
	height : 360px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
}
#fenetre .contenu .tableau .cellule13{
    float:left;
	margin: 0px 0px 0px 00px;
    border:0px solid #000000; 
    width:100%;
	height : 390px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
}
#fenetre .contenu .tableau .cellule14{
    float:left;
	margin: 0px 0px 0px 00px;
    border:0px solid #000000; 
    width:100%;
	height : 420px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
}
#fenetre .contenu .tableau .cellule15{
    float:left;
	margin: 0px 0px 0px 00px;
    border:0px solid #000000; 
    width:100%;
	height : 450px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
}
#fenetre .contenu .tableau .cellule16{
    float:left;
	margin: 0px 0px 0px 00px;
    border:0px solid #000000; 
    width:100%;
	height : 480px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
}
#fenetre .contenu .tableau .demicellule1{
    float:left;
	margin: 00px 0px 00px 00px;
    border:0px solid #000000; 
    width:50%;
	height : 30px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
    overflow:hidden;
}

#fenetre .contenu .tableau .demicellule2{
    float:left;
	margin: 00px 0px 00px 00px;
    border:0px solid #000000; 
    width:50%;
	height : 60px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
    overflow:hidden;

}
#fenetre .contenu .tableau .demicellule3{
    float:left;
	margin: 00px 0px 00px 00px;
    border:0px solid #000000; 
    width:50%;
	height : 90px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
    overflow:hidden;
}
#fenetre .contenu .tableau .demicellule4{
    float:left;
	margin: 00px 0px 00px 00px;
    border:0px solid #000000; 
    width:50%;
	height : 120px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
    overflow:hidden;
}
#fenetre .contenu .tableau .demicellule5{
    float:left;
	margin: 00px 0px 00px 00px;
    border:0px solid #000000; 
    width:50%;
	height : 150px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
    overflow:hidden;
}
#fenetre .contenu .tableau .demicellule6{
    float:left;
	margin: 00px 0px 00px 00px;
    border:0px solid #000000; 
    width:50%;
	height : 180px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
    overflow:hidden;
}
#fenetre .contenu .tableau .demicellule7{
    float:left;
	margin: 00px 0px 00px 00px;
    border:0px solid #000000; 
    width:50%;
	height : 210px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
    overflow:hidden;
}
#fenetre .contenu .tableau .demicellule8{
    float:left;
	margin: 00px 0px 00px 00px;
    border:0px solid #000000; 
    width:50%;
	height : 240px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
    overflow:hidden;
}
#fenetre .contenu .tableau .demicellule9{
    float:left;
	margin: 00px 0px 00px 00px;
    border:0px solid #000000; 
    width:50%;
	height : 270px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
    overflow:hidden;
}
#fenetre .contenu .tableau .demicellule10{
    float:left;
	margin: 00px 0px 00px 00px;
    border:0px solid #000000; 
    width:50%;
	height : 300px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
    overflow:hidden;
}
#fenetre .contenu .tableau .demicellule11{
    float:left;
	margin: 00px 0px 00px 00px;
    border:0px solid #000000; 
    width:50%;
	height : 330px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
    overflow:hidden;
}
#fenetre .contenu .tableau .demicellule12{
    float:left;
	margin: 00px 0px 00px 00px;
    border:0px solid #000000; 
    width:50%;
	height : 360px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
    overflow:hidden;
}
#fenetre .contenu .tableau .demicellule13{
    float:left;
	margin: 00px 0px 00px 00px;
    border:0px solid #000000; 
    width:50%;
	height : 390px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
    overflow:hidden;
}
#fenetre .contenu .tableau .demicellule14{
    float:left;
	margin: 00px 0px 00px 00px;
    border:0px solid #000000; 
    width:50%;
	height : 420px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
    overflow:hidden;
}
#fenetre .contenu .tableau .demicellule15{
    float:left;
	margin: 00px 0px 00px 00px;
    border:0px solid #000000; 
    width:50%;
	height : 450px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
    overflow:hidden;
}
#fenetre .contenu .tableau .demicellule16{
    float:left;
	margin: 00px 0px 00px 00px;
    border:0px solid #000000; 
    width:50%;
	height : 480px;
	font-size: 80%;
	color: black;
	text-align: center;
	background-color: #cccccc ;
    overflow:hidden;
}
#fenetre .contenu .tableau .tierscellule1{
    float:left;
	margin: 00px 0px 00px 00px;
    border:0px solid #000000; 
    width:33%;
	height : 30px;
	font-size: 100%;
	color: black;
	text-align: center;
	background-color: #cccccc ;

}

#fenetre .contenu .tableau .tierscellule2{
    float:left;
	margin: 00px 0px 00px 00px;
    border:0px solid #000000; 
    width:33%;
	height : 60px;
	font-size: 100%;
	color: black;
	text-align: center;
	background-color: #cccccc ;

}
#fenetre .contenu .tableau .tierscellule3{
    float:left;
	margin: 00px 0px 00px 00px;
    border:0px solid #000000; 
    width:33%;
	height : 90px;
	font-size: 100%;
	color: black;
	text-align: center;
	background-color: #cccccc ;

}
#fenetre .contenu .tableau .tierscellule4{
    float:left;
	margin: 00px 0px 00px 00px;
    border:0px solid #000000; 
    width:33%;
	height : 120px;
	font-size: 100%;
	color: black;
	text-align: center;
	background-color: #cccccc ;

}
.ButtonBar {
    position:absolute;
    bottom:0;
    left:0;
    margin:0;
}

.ButtonBar .image {
    float:right;
    margin:0;
}

.horaires{
    float:left;
	margin: 0px 0px 0px 00px;
    border:0px solid #000000; 
    width:100%;
	height : 60px;
	font-size: 80%;
	color: white;
	text-align: center;
	background-image : url(../images/horaires.png);
	background-position: top left ;
	background-repeat: no-repeat;
	background-color: #ffffff ;
}

.cadre {
    position:relative;
     border-left:1px solid #000000;
     border-top:1px solid #000000;
     padding:0 0 0 0;
     height:100%;
}

.cadreCouleur {
     position:relative;
     border-left:1px solid #000000;
     border-top:1px solid #000000;
     background-color:white;
     padding:0 0 0 0;
     height:100%;
     overflow:hidden;

}

.cadreRouge {
     position:relative;
     border-left:1px solid #000000;
     border-top:1px solid #000000;
     background-color:red;
     padding:0 0 0 0;
     height:100%;
     overflow:hidden;

}

#fenetre {

	background-color: white;
	border: 0px solid #959596;
    margin: 10px 0 0 0;
	}

#fenetre .contenu ul {
	list-style:none;
	margin:0 20px 0 20px;
	padding : 0;
	white-space :nowrap;
}

#fenetre .contenu li {
	text-decoration:none;
	margin : 5px 0 0 0;
	white-space :nowrap;
 }

#fenetre .contenu li:hover{
	color: #55FFAA;
	text-decoration:none;
	background-color : #FFFFFF ;
	white-space :nowrap;
 }

#fenetre .contenu {
    float:left;
    position:relative;
	width: 100%;
	font-size: 1em;
	padding:10px 0 0 0px;
	margin:0px 0 0 0px;
}

#fenetre .contenu a {
	font-size:1em;
	color: #994400;
	text-decoration:none;
}


#fenetre p.w3c  {
	float:left;
}
#fenetre p.w3c  a{
	text-decoration:none;
	color: #000000;
}

#fenetre p.w3c  img{
	text-decoration:none;
	border:none;
	color: #000000;
}


#fenetre p.w3c  a:hover{
	text-decoration:none;
	color: #000000;
	background:none;
	padding-left:0;
}

#fenetre img{
	text-decoration:none;
	border:0px;
	color: #000000;
}
