<?php
# Les cinq lignes suivantes sont à modifier selon votre configuration
# Pensez à renommer ce fichier connect.cfg en connect.inc.php
#
# ligne suivante : le nom du serveur qui herberge votre base mysql.
# Si c'est le même que celui qui heberge les scripts, mettre "localhost"
$dbHost="localhost";
# ligne suivante : le nom de votre base mysql
$dbDb="gepi";
# ligne suivante : le nom de l'utilisateur mysql qui a les droits sur la base
$dbUser="gepi";
# ligne suivante : le mot de passe de l'utilisateur mysql ci-dessus
$dbPass="gepi";
# Chemin relatif vers GEPI
$gepiPath="/gepi";
?>