/* $Id: bandeau.css */

body{
	font-family:	verdana,sans-serif;
	margin:0em;
	padding:0em;
}

h1 {
	margin:0em;
	padding:0em;
	text-align:center;
	font-style: normal;
	font-variant: small-caps;
	font-weight: normal;
	font-size:1.6em;
}
p{
	margin:0em;
	padding:0em;
}

hr {
height: 1px;
color: #F00;
background-color: #F00;
}

/* Bandeau */
#bandeau {
	display:table;
	margin:0em;
	padding:0em 0em 0.1em 0em;
	width:100%;
}
#bandeau p{
	font-size:0.9em;
}

/* Couleurs des liens */
#bandeau a:link {
	color: #F3F3F3;
}
#bandeau a:visited {
	color: #F3F3F3;
}
#bandeau a:hover {
	color: white;
}

/* Couleurs des bandeaux */
.gd_bandeau_darkfade {
	background-image: url(../../../images/background/darkfade.png);
	background-repeat: repeat-x;
	background-color:#4a4a50;
}
.pt_bandeau_darkfade {
	background-image: url(../../../images/background/darkfade_small.png);
	background-repeat: repeat-x;
	background-color:#4a4a50;
}
.gd_bandeau_degrade1 {
	background-image: url(../../../images/background/degrade1.png);
	background-repeat: repeat-x;
}
.pt_bandeau_degrade1 {
	background-image: url(../../../images/background/degrade1_small.png);
	background-repeat: repeat-x;
}
#bandeau .rouge {
	color:#ff0000;
	font-weight: bold;
}

#bd_nom {
	font-weight: bold;
}

/* Création des colonnes */

.bandeau_colonne {
	display:table-cell;
	margin:0em;
	padding:0em 0.5em;
	width:49%; 
	color: white;
}

.bandeau_colonne + .bandeau_colonne {
	text-align:right;
}

/* Placement des boutons */
.gd_bandeau .change_taille_pt {
	display:none;
}
.gd_bandeau .change_taille_gd img {
	margin-top:0.1em;
	padding:0.1em;
	float:left;
}
.pt_bandeau .change_taille_gd {
	display:none;
}
.pt_bandeau .change_taille_pt img {
	margin-top:0.1em;
	padding:0.1em;
	float:left;
}

/* menu de droite */
#bandeau ol {
	margin:0em;
	padding:0em;
}

.bandeau_colonne li {
	margin:0em;
	padding:0em;
	display: inline;
	font-size:0.9em;
}	

#bandeau_menu_deux {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: orange;
}	
#bandeau_menu_deux li + li {
	border-left: 1px solid #a0a0a0;
	padding-left:0.4em;
}	

/* barre de menu prof */
#essaiMenu {
	margin: 0em 0em 0em 0em;
	padding: 0.1em;
	background: #4a4579;
	color: #FFF;
}
#essaiMenu li {
	display: inline;
	margin: 0em; 
	padding: 0em 0.5em 0em 0em;
	/* border-top: 1px solid #a0a0a0; */
	/* border-left: 1px solid #a0a0a0; */
	/* border-bottom: 1px solid #040404; */
	/* border-right: 1px solid #040404; */
	font-weight: bold;
	font-size: 0.8em;
}
#essaiMenu li + li {
	border-left: 1px solid #a0a0a0;
	padding-left:0.4em;
}
#essaiMenu a {
	margin: 0em; 
	padding: 0em;
	color: white;
}
#essaiMenu a:hover {
	color: #99FFFF;
}

/* petit bandeau */
.pt_bandeau #bandeau_menu_deux {
	display:none;
}
.pt_bandeau h1 {
	font-size: 1.2em;
}
.pt_bandeau p {
	display:none;
}
.pt_bandeau #bd_nom {
	display:block;
	width:70%;
	float:left;
}
.pt_bandeau .menu_bandeau {
	display:none;
}

/* message */
.headerMessage {
	width: 100%;
	padding: 0.5%;
	margin: 0 auto;
	color: #FF0000;
	font-variant: small-caps;
	text-align: center;
}

.rouge {
	color:red;
}
.vert {
	color:green;
}

.small {
	font-size:smaller;
}

.texteGris {
  color: graytext;
}

.invisible {
  display: none;
}

/*================================================*/

#menu_barre {
	/*font-weight: bold;*/
	font-size: 90%;
	/*font-family: trebuchet ms,arial,tahoma,verdana,sans-serif;*/
	z-index: 1000;
	color: white;
	background-color: #4a4a59;
	margin-top: -3px;
	background-image: url("../../../images/degrade_noir.png");
	background-position: left top;
	background-repeat: repeat-x;
	height:20px;
}

/* ul ul pour ne masquer par défaut que les sous-menus */
#menu_barre ul ul {
	border-right: #b0b0b0 1px solid; 
	padding-right: 0px; 
	border-top: #b0b0b0 1px solid; 
	display: none; 
	padding-left: 0px; 
	left: 0px; 
	padding-bottom: 0px; 
	/*margin: 0px; */
	margin-left: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px;
	margin-top: -3px;
	border-left: #b0b0b0 1px solid; 
	padding-top: 0px; 
	border-bottom: #b0b0b0 1px solid; 
	position: absolute;
	top: -1px;

	color: white;
	background-color: #4a4a59;

	z-index:1000;
}


#menu_barre ul a, #menu_barre ul a:hover, #menu_barre ul a:visited {
	color: white;
}

/*
#menu_barre ul a:hover {
	color: #4a4a59;
}
*/

#menu_barre li {
	padding-right: 2px; 
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px; 
	margin: 0px; 
	width: 160px; 
	list-style-type: none; 
	position: relative; 
	/*background-color: #e0e0e0;*/

}

/* Pour éviter de déborder hors du DIV sur les LI horizontaux (niveau1) */
#menu_barre .niveau1 li {
	padding-bottom: 0px;
}

#menu_barre li:hover {
	background-color: black;
	/*color: #4a4a59;*/
}
/*
	#menu_barre li:hover a {
		color: #4a4a59;
	}
*/
#menu_barre li.sfhover {
	background-color: black;
	/*color: #4a4a59;*/
}
#menu_barre li a {
	text-decoration: none;
	width:100%;
}

#menu_barre ul.niveau1 {
	display: inline;
}

#menu_barre li:hover ul.niveau2 {
	display: block;
	left: 0px;
	top: 22px;
}
#menu_barre li li:hover ul.niveau3 {
	display: block;
	left: 164px;
	top: 0px;
}
#menu_barre .niveau3 li:hover ul.niveau4 {
	display: block;
	left: 164px;
	top: 0px;
}
#menu_barre li.sfhover ul.niveau2 {
	display: block;
	left: 0px;
	top: 22px;
}
#menu_barre li li.sfhover ul.niveau3 {
	display: block;
	left: 164px;
	top: 0px;
}
#menu_barre li li.sfhover ul.niveau4 {
	display: block;
	left: 164px;
	top: 0px;
}
#menu_barre li.plus {
	background-image: url("../../../images/icons/forward.png");
	background-position: right 50%;
	border-bottom: #b0b0b0 1px solid; 
	background-repeat: no-repeat;
}

#menu_barre .li_inline {
	display: inline;

}
/* =================== Création du panneau d'affichage ============= */
.panneau_droite {
	background-image:url('../../../images/right.png');
	background-repeat: repeat-y;
    background-position: right;
    position:absolute;
    top:0px;
    right:-40px;
    height:100%;
    width:40px;
}
.panneau_affichage{
	margin: 40px 40px 40px 40px;
    float:left;
	width:92%;

}
.panneau_liege {
            position:relative;
	width:80%; 
	font-size: 1em;
	padding:0px 0 0px 0px;
	margin:0px auto;
}
.panneau_gauche {
	background-image:url('../../../images/left.png');
	background-repeat: repeat-y;
    background-position: right;
    position:absolute;
    top:0px;
    left:-33px;
    height:100%;
    width:33px;
}
.postit {

	padding:10px;
	background-color:#FFE92F;
	width:80%;
	margin:5px auto 20px auto;
}
.panneau_haut {
	height:33px;
	background-image:url('../../../images/top.png');
	background-repeat: repeat-x;
    position:absolute;
    width:100%;
	top:-33px;
    left:00px;
}
.panneau_centre {
	background-image:url('../../../images/center.png');
	background-repeat: repeat;
    width:100%;
	top:0px;
    left:00px;
	color:black;
}
.panneau_bas {
	height:40px;
    position:absolute;
	background-image:url('../../../images/bottom.png');
	background-repeat: repeat-x;
    width:100%;
	bottom:-40px;
    left:00px;
}

.panneau_coingh {
    width:33px;
    position:absolute;
	height:33px;
	background-image:url('../../../images/top_left.png');
    top:-33px;
    left:-33px;		
	background-repeat: no-repeat;
}

.panneau_coindh {
    position:absolute;
    width:40px;
	height:33px;
	background-image:url('../../../images/top_right.png');
	top:-33px;
    right:-40px;
	background-repeat: no-repeat;
}

.panneau_coingb {
    position:absolute;
    bottom:-40px;
    left:-33px;
    width:33px;
	height:40px;
	background-image:url('../../../images/bottom_left.png');
	float: left;
}

.panneau_coindb {
    position:absolute;
    bottom:-40px;
    right:-40px;
    width:40px;
	height:40px;
	background-image:url('../../../images/bottom_right.png');
	float:right;
}