*/
 * @version $Id: bilan_absences.css 1843 2008-05-20 09:01:14Z jjocal $
 *
 *
 * Style CSS spécifique à absences_rb
*/

#partie_gauche {
	background-color: red;
	float: left;
	width: 240px;
	height: 1000px;
	font: normal normal 11pt Verdana, sans-serif;
}

/* CSS du corps de page bilan_absences_quotidien.php */
#lecorps {
	position: relative;
	background-color: green;
	margin-left: 240px;
	width: 100%;
	height: 1000px;
	font: normal normal 15pt Verdana, sans-serif;
}
div#aff_tab_abs {
background-color: #66FF99; overflow: auto; width: 100%;
}
div#aff_tab_abs th {
background-color: #DDDDDD; color: grey; font-style: italic; text-align: right;
}
#aff_abs td {
border: 1px solid silver; text-align: center;
}
table#aff_abs {
 margin: 2 2 2 2; padding: 2 2 2 2; font-size: 0.6em;
}