h1{
  padding-top : 0em;
  margin-top : 0em;
}
.center{
  text-align: center;
}
.droite{
  text-align: right;
  margin-right: 1em; 
}
.rouge{
  color:red;
}
.ecarte{
  margin:1em;
}
.titreMaJ{
  text-align:center;
  font-size:medium;
  font-weight:bold;
}
.msj_ok{
  color:green;
}
.msj_erreur{
  color:red;
}
.msj_present{
  color:blue;
}
.cadreMaJ{
  width:80%;
  margin:0 auto 1em;
  padding: 0 10px 10px;
  border: inset yellow 7px;
}
.form_identite{
  padding-top: 8px; 
  padding-bottom: 8px; 
  width: 40%; 
  margin-left: auto; 
  margin-right: auto;
}
.legend_identite{
  font-variant: small-caps;
}
.colonne {
	display:inline-block;
	min-width: 10em;
}


