/*
 * $Id$
 *
 * Copyright 2001, 2010 Thomas Belliard, Laurent Delineau, Edouard Hue, Eric Lebrun, Gabriel Fischer, Didier Blanqui
 *
 * This file is part of GEPI.
 *
 * GEPI is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * GEPI is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with GEPI; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

div#select {

    float: left;
    width: 360px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 5px;
    border: 1px solid #333;
    background-color: #cfe2e2;
    min-height: 740px;
}
.titre {
    font-size: 14px;
    font-weight: bold;
}

.selected {
    font-size: 12px;
}

.selected_titre {
    font-size: 14px;
    color: red;
    margin-left: 1px;
    margin-top: 3px;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

div,p#selected {

    margin: 0px;
    padding: 0px;
}

li#selected {
    font-size: 12px;
    margin: 0px;
    list-style-type: none;
    background-image: url(../img/puce.gif);
    background-repeat: no-repeat;
    background-position: 0% 65%;
    padding-left: 10px;
}

.individus {
    padding: 2px;
    margin: 2px;
}

.sous_menu {
    padding: 0px;
    margin: 0px;
    border: 1px solid;
    background-color: #f0f0f0;
}

a.sous_menu:active {
    font-weight: bold;
}

#fieldset {
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
}

#recherche_indiv {
    display: block;
}

#recherche_classe {
    display: block;
}

.submit {
    float: right;
    font-size: 14px;
    color: #ff8000;
    border-color: #ff8000;
}
.submit2 {
    margin:15px;
    font-size: 14px;
    color: #ff8000;
    border-color: #ff8000;
}

div#tableaux {

    width: auto;
    margin-top:10px;
    padding:5px;
    clear:both;


}
div#result {

    width: auto;
    margin-top:5px;
    padding:5px;
    border: 1px solid #333;
    background-color: #cfe2e2;
    _height: 650px;


}
div#selected {

    width: auto;
    margin-top:15px;
    overflow:auto;
    padding:15px;
    border: 1px solid #333;
    background-color: #cfe2e2;
    min-height: 740px;
}

.update {
    position: absolute;
    min-width: 304px;
    background-color: white;
    border: 1px solid #888;
    margin: 0px;
    padding: 0px;
}

ul.contacts {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

ul.contacts li.selected {
    width: 300px;
    background-color: #ffb;
    cursor: pointer;
}

li.contact {
    list-style-type: none;
    display: block;
    margin: 0;
    width: 300px;
    padding: 2px;
    height: 72px;
}

li.contact div.image {
    float: left;
    width: 72px;
    height: 72px;
    margin-right: 8px;
}

li.contact div.nom {
    font-weight: bold;
    font-size: 11px;
    line-height: 1em;
}

div.section,div#createNew {
    border: 1px solid #CCCCCC;
    margin: 10px 5px;
    padding: 0px 0px 10px 0px;
    background-color: #EFEFEF;
    width:230px;


}

div#createNew input { margin-left: 5px; }

div#createNew h3, div.section h3{
    font-size: 14px;
    padding: 2px 5px;
    margin: 0 0 10px 0;
    background-color: #CCCCCC;

}

div.section h3 {
    cursor: move;
}

div.lineitem {
    margin: 4px 10px;
    padding: 2px;
    background-color: #FED6FF;
    cursor: move;
    width:225px;

}

h1 {
    margin-bottom: 0;
    font-size: 18px;
}
div#Categories_incidents1{
    width:260px;
    float:left;

}
div#Categories_incidents2{

    width:260px;
    float:left;
}
div#Natures_incidents{
    margin:5px;
    float:left;
    height:450px;
    width:300px;
    overflow: auto;
    background-color:#FFB2F4;
    padding: 2px 5px;
    border: 1px dashed;
    border-color: red;
}
div#group1{

}
div#Categories_incidents{
    margin:10px;
    float:left;
    width:580px;
    background-color:#B0FFA8;
    padding: 2px 5px;
    border: 1px dashed;
    border-color: green;
}
.hoverActive {
    background-color: #ffffcc;
}
div #natures{
    margin:5px;
    float:left;
    background-color:#B0FFA8;
    padding: 2px 2px;
    border: 1px dashed;
    border-color: green;


}
div #categories{
    margin:5px;
    background-color:#F0F2A8;
    width:550px;
    border: 1px dashed;
    border-color: red;
    overflow: hidden;
}


div #wrap {
    overflow: hidden;
    

}
.option {
    width:320px;
}
div.bilans{
    float:left;
    margin: 5px;
}
div#filtres{
    margin:5px;
    background-color:#B0FFA8;
    padding: 2px 2px;
    border: 1px dashed;
    border-color: green;
}
div#filtre_categories{
    margin:15px;
    float:left;
    width: 300px;
    background-color:#F0F2A8;    
    border: 1px dashed;
    border-color: red;
}
a.supp:link { COLOR: #000000;  TEXT-DECORATION: none }
a.supp:visited { COLOR: #000000;  TEXT-DECORATION: none }
a.supp:active { COLOR: #000000;  TEXT-DECORATION: none }
a.supp:hover { COLOR: #c8373a;  TEXT-DECORATION: line-through  }

a.supp_filtre:link { COLOR: #0FD11F;  TEXT-DECORATION: none }
a.supp_filtre:visited { COLOR: #0FD11F;  TEXT-DECORATION: none }
a.supp_filtre:active { COLOR: #0FD11F;  TEXT-DECORATION: none }
a.supp_filtre:hover { COLOR: #c8373a;  TEXT-DECORATION: line-through  }

/*
			Vertical Accordions
		*/

.accordion_toggle {
    display: block;
    height: 30px;
    background:  #a9d06a;
    padding: 0 10px 0 10px;
    line-height: 30px;
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    font-size: 14px;
    color: #000000;
    border-bottom: 1px solid #cde99f;
    cursor: pointer;
    margin: 0 0 0 0;
}

.accordion_toggle_active {
    background:  #e0542f;
    color: #ffffff;
    border-bottom: 1px solid #f68263;
}

.accordion_content {

    padding:5px;
    color: #444444;
    overflow: hidden;
}

.accordion_content h2 {
    margin: 15px 0 5px 10px;
    color: #0099FF;
}

.accordion_content p {
    line-height: 150%;
    padding: 5px 10px 15px 10px;
}

.vertical_accordion_toggle {
    display: block;
    height: 30px;
    width: 600px;
    background: url(../img/accordion_toggle.jpg) no-repeat top right #a9d06a;
    padding: 0 10px 0 10px;
    line-height: 30px;
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    font-size: 12px;
    color: #000000;
    border-bottom: 1px solid #cde99f;
    cursor: pointer;
    margin: 0 0 0 0;
}

.vertical_accordion_toggle_active {
    background: url(../img/accordion_toggle_active.jpg) no-repeat top right #e0542f;
    color: #ffffff;
    border-bottom: 1px solid #f68263;
}

.vertical_accordion_content {
    background-color: #ffffff;
    color: #444444;
    overflow: hidden;
}

.vertical_accordion_content h2 {
    margin: 15px 0 5px 10px;
    color: #0099FF;
}

.vertical_accordion_content p {
    line-height: 150%;
    padding: 5px 10px 15px 10px;
}

/*
			Horizontal Accordion
		*/

.horizontal_accordion_toggle {
    /* REQUIRED */
    float: left;	/* This make sure it stays horizontal */
    /* REQUIRED */

    display: block;
    height: 100px;
    width: 30px;
    background: url(../img/h_accordion_toggle.jpg) no-repeat top left #a9d06a;
    color: #ffffff;
    text-decoration: none;
    outline: none;
    border-right: 1px solid #cde99f;
    cursor: pointer;
    margin: 0 0 0 0;
}

.horizontal_accordion_toggle_active {
    background: url(../img/h_accordion_toggle_active.jpg) no-repeat top left #e0542f;
    border-right: 1px solid #f68263;
}

.horizontal_accordion_content {
    /* REQUIRED */
    height: 100px;	/* We need to define a height for the accordion as it stretches the width */
    float: left;	/* This make sure it stays horizontal */
    /* REQUIRED */

    overflow: hidden;
    background-color: #ffffff;
    color: #444444;
}

.horizontal_accordion_content p {
    width: 450px;
    line-height: 150%;
    padding: 5px 10px 15px 10px;
}


/* Container styling*/
#horizontal_container {
    margin: 20px auto 20px auto;
    width: 680px;
    height: 100px;
}

#vertical_nested_container {
    margin: 20px auto 20px auto;
    width: 620px;
}

/* autre fabtulous*/



#banner {
    border : 1px solid;
    background-color: #96C8F0;
    padding:3px;

}

.panel {
    clear: both;
    display: none;
    background-color: #CFE2E2;
    padding: 1em;
}


.panel.active-tab-body {
    display: block;
}
.bar {
    padding: 5px;
    background-color: #3e3e3e;
}

#tabs {
    margin:0;
    padding:0;    
    list-style: none;
    
    
    
}

#tabs li {
    /* Indispensable */
    display: -moz-inline-stack;
    display:inline-block;
    padding: 0px;
    margin:0px;
    vertical-align: middle;
    zoom: 1;
        *display: inline;

}
#wrap_li {
    overflow: hidden;
   

}
#tabs a {
    display:block;
    float:left;
    font-size: 12px;
    padding: 5px 1px;
    margin-left: 2px;
    background-color: #DCDCDC;
    text-decoration: none;
    color: #999999;
   
}

#tabs a.active-tab {
    
    background-color: #3e3e3e;
    border-top: 3px solid #666;
    padding-top: 3px;
    color: #ccc;
}



 tr.alt {
	background-color: #C8FFC8;
}
 tr  {
	background-color: #FFE6AA;
}
tr.fond  {
	background-color:#cfe2e2;
}

a:active {
  outline:none;
}

:focus {
  -moz-outline-style:none;
}
/* root element for tabs  */
ul.css-tabs {
	margin:0 !important;
	padding:0;
	height:30px;
	border-bottom:1px solid #666;
}

/* single tab */
ul.css-tabs li {
	float:left;
	padding:0;
	margin:0;
	list-style-type:none;
}

/* link inside the tab. uses a background image */
ul.css-tabs a {
	float:left;
	font-size:13px;
	display:block;
	padding:5px 30px;
	text-decoration:none;
	border:1px solid #666;
	border-bottom:0px;
	height:18px;
	background-color:#efefef;
	color:#777;
	margin-right:2px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright:4px;
	position:relative;
	top:1px;
}

ul.css-tabs a:hover {
	background-color:#F7F7F7;
	color:#333;
}

/* selected tab */
ul.css-tabs a.current {
	background-color:#ddd;
	border-bottom:2px solid #ddd;
	color:#000;
	cursor:default;
}